<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="SRConnectionString" connectionString="Data Source=10.20.66.204;Initial Catalog=APManager;user id=sa;password=123!@#qwe;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
